ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}
img{
    position: relative;
    left: 500px;
    top: 140px;
}
input{
    position: relative;
    left: 500px;
    top: 165px;
}
button{
    position: relative;
    left: 520px;
    top: 165px;
}
footer{
    position: fixed;
    bottom: 15px;
}